<div class="content">
  <h2>Privacy Policy</h2>
  <h6>Effective: 5 April, 2023</h6>
  <h6>Last Updated: 5 March, 2023</h6>
  <p></p>

  <a href="/privacy#1">1. Welcome!</a>
  <a href="/privacy#2">2. Cord.DJ is your place to find community</a>
  <a href="/privacy#3">3. The information we collect</a>
  <a href="/privacy#4">4. How we use your information</a>
  <a href="/privacy#5">5. How we disclose your information</a>
  <a href="/privacy#6">6. Data retention</a>
  <a href="/privacy#7">7. How we protect your information</a>
  <a href="/privacy#8">8. How to control your privacy</a>
  <a href="/privacy#9">9. International data transfers</a>
  <a href="/privacy#10">10. Services offered by third parties</a>
  <a href="/privacy#11">11. Information for Users in the EEA, United Kingdom, Switzerland, and Brazil</a>
  <a href="/privacy#12">12. Information for Users in Certain U.S. States</a>
  <a href="/privacy#13">13. Changes to this Privacy Policy</a>
  <a href="/privacy#14">14. Contact Us</a>

  <section id="1">
    <h5>Welcome</h5>
    <p>
      This Privacy Policy explains how we collect, use, store, protect, and share your personal information through our
      services. It’s important that you read this entire policy, but here’s a summary to get you started:
    </p>

    <ul>
      <li>
        <strong>We care a lot about privacy.</strong> We are committed to creating spaces where people can come together
        and find a place to belong. Respecting user privacy is a key part of that mission.
      </li>
      <li>
        <strong>We don’t sell your personal information.</strong> Our business is based on subscriptions and paid
        products, not from selling your personal information to third parties.
      </li>
      <li>
        <strong>We limit what information is required.</strong> We require the information that enables us to create
        your account, provide and maintain our services, meet our commitments to our users, and satisfy our legal
        requirements. The rest is optional.
      </li>
      <li>
        <strong>We care deeply about safety.</strong> Our dedicated Trust & Safety team works hard to help keep our
        community safe. We also use certain information to help us identify violations of our Community Guidelines and
        prevent harmful content from being distributed through the services.
      </li>
      <li><strong>We give you control.</strong> We give you the ability to control your privacy on Cord.DJ.</li>
    </ul>
  </section>

  <section id="2">
    <h5>Cord.DJ is your place to find community</h5>
    <p>
      We created Cord.DJ to be a platform that brings people together over shared experiences and gives everyone a place
      to belong. Whether you’re part of a club, gaming group, or just a handful of friends that want to spend time
      together, Cord.DJ makes it easy to express yourself and find community.
    </p>
    <p>
      Our “services” has the same meaning as defined in the <a href="/terms">Terms of Service</a>. They include the
      Cord.DJ app, which can be accessed on mobile, web, desktop, console, or even a connected home appliance—any device
      with a web browser and internet connection. We also have a website, blog, and support center, and we may collect
      your information through other means like surveys, emails, and social media. If we build another product, our
      services include that too.
    </p>
    <p>
      As explained in our <a href="/terms">Terms of Service</a>, we allow users to add content to the services in a
      number of different ways, including via messages and in smaller and larger spaces. If you share content within
      larger spaces, that content may be accessed by many people, including people you do not know. For example, some
      rooms are available in the Room Discovery section of the app and do not require an invite link to join. Other room
      owners may publish their room invite link on public websites. Anyone can access these rooms, and you should be
      aware that room owners or admins set these permissions, and like the size of a room, the permissions may change
      over time.
    </p>
    <p>
      We may also use content posted in larger spaces, to help us improve and power features, identify harmful content
      on the services, and enforce our <a href="/terms">Terms of Service</a> and
      <a href="/guidelines">Community Guidelines</a>. These things are important to us, and we believe they will make
      Cord.DJ even better for our users. We will always try to let you know the type of space you are in (although we
      don’t control where invite links are shared or the permissions for that room). You can limit the extent to which
      your content is used for these purposes as described in the “How to control your privacy” section below. You
      should take all of this into account when you are using our services, and choose the spaces, features, and
      settings that are most appropriate for your content.
    </p>
    <p>
      We make money from paid subscriptions and the sale of digital (and sometimes physical) goods, not from selling
      your personal information to third parties.
    </p>
  </section>

  <section id="3">
    <h5>The information we collect</h5>
    <p>
      We collect certain information when you use Cord.DJ. This includes information you provide to us, information we
      collect automatically, and information we receive from other sources.
    </p>

    <h6>Information you provide to us</h6>
    <ul>
      <li>
        <strong>Account information.</strong> When you create a Cord.DJ account, you can come up with a username and
        password, and provide a way of contacting you (such as an email address and phone number). You’ll also need to
        provide your birthday. In some cases, you may be required to verify your account or provide additional
        information (like a verified phone number) to your account. You may also have the option to add your name or
        nicknames.
      </li>
      <li>
        <strong>Content you create.</strong> This includes any content that you upload to the service. For example, you
        may write messages or posts, create custom emojis, or upload and share files through the services. This also
        includes your profile information and the information you provide when you create rooms.
      </li>
      <li>
        <strong>Payment information.</strong> If you buy any paid services through Cord.DJ, you may need to submit a
        valid payment method and associated billing information, including your full name and billing address. Our
        payment processors, like Stripe and PayPal, receive and process your payment information. Depending on the
        processor, we may also receive and store certain billing information, including the last four digits of the
        credit card number associated with the transaction.
      </li>
      <li>
        <strong>Information from actions you take.</strong> We collect information about your use of Cord.DJ and your
        activities on the services. This includes the friends you add, the users, the rooms or other communities you
        join and participate in, your roles in rooms, content moderation decisions you make, information about purchases
        or sales you make on or through Cord.DJ including what you purchased or sold, and other related actions. You can
        control whether we collect, use, and display this information as described in the “How to control your privacy”
        section below.
      </li>
      <li>
        <strong>Other information you provide directly to us.</strong> You may have the option to submit additional
        information as you use Cord.DJ. For example, you may choose to participate in our verified room program, which
        requires that you provide additional information about yourself or your company. Or, you may participate in
        surveys where you can provide feedback on the services, or submit information to our Cord.DJ Support teams.
      </li>
    </ul>

    <h6>Information we collect automatically</h6>
    <p>We also collect information automatically from you when you use Cord.DJ. This includes:</p>
    <ul>
      <li>
        <strong>Information about your device.</strong> We collect information about the device you are using to access
        the services. For example, this includes information like your IP address, operating system information, browser
        information, and information about your device settings.
      </li>
      <li>
        <strong>Information about your use of the apps or websites.</strong> For example, we collect log and event
        information related to how and when you use our services (such as the pages, rooms, the activities you engage
        in, or the embedded content you interact with).
      </li>
      <li>
        <strong>Other information that we collect automatically.</strong> When you take certain actions on other sites,
        we may receive information about you. For example, when we advertise for Cord.DJ on third party platforms, if
        you click on the ad, we may receive information about which ad you saw and on which platform. Similarly, we may
        also receive certain information when you click on a referral link, such as which website you came from.
      </li>
    </ul>

    <p>
      We may receive information from cookies (small text files placed on your computer or device) and similar
      technologies. First-party cookies are placed by us (and our third-party service providers) and allow you to use
      the services and to help us analyze and improve your experience and the services. You can control cookies as
      described in the “How to control your privacy” section below. The services use the following types of cookies:
    </p>
    <ul>
      <li>
        <strong>Strictly Necessary Cookies</strong>: These are required for services to function and to meet our legal
        obligations. If you try to use tools to disable these cookies, parts of the services may not work properly.
      </li>
      <li>
        <strong>Functional Cookies</strong>: These help us provide enhanced functionality on the services like
        remembering language preferences. Disabling these could affect some service functionality.
      </li>
      <li>
        <strong>Performance Cookies</strong>: These allow us or our third-party analytics providers to learn how you and
        others use and engage with the services so we can understand and improve them.
      </li>
    </ul>

    <h6>Information we receive from other sources</h6>
    <p>
      We may receive information about you from other sources, including from other users and third parties, and combine
      that information with the other information we have about you. For example, if you interact with our social media
      account on another platform, we may receive certain information about you like your username on that platform.
    </p>
  </section>

  <section id="4">
    <h5>How we use your information</h5>
    <p>TODO</p>
  </section>

  <section id="5">
    <h5>How we disclose your information</h5>

    <ul>
      <li>
        <strong>When you tell us to.</strong> When you add your content to the services, you are telling us to make that
        content available to certain people or communities. Who can access that information is determined by who can
        access a particular space. For rooms, those permissions are set by room owners or admins. They control whether a
        room requires an invite link or is open and accessible to anyone. And these permissions, like the size of the
        room, may change over time. Similarly, if you link your Cord.DJ account with a third-party service (like a
        music-streaming service or gaming platform), embed content, or participate in a room that has third-party
        features like bots enabled, we may provide certain information to that service or to other Cord.DJ users to
        operate that service or feature. We may also disclose your information as you otherwise instruct us or provide
        us your consent to do so.
      </li>
      <li>
        <strong>With our vendors.</strong> We may provide information to vendors we hire to carry out specific work for
        us. This includes payment processors like Stripe and PayPal that process transactions on our behalf and cloud
        providers like Google that host our data and our services. We may also provide limited information to
        advertising platforms to help us reach people that we think will like our products and to measure the
        performance of our ads shown on those platforms. We do this to help bring more users to Cord.DJ and make our
        business successful, and provide only the information required to facilitate these services. This may include
        information like the fact that you installed our app or registered to use Cord.DJ.
      </li>
      <li>
        <strong>To comply with the law.</strong> We may disclose information in response to a request for information if
        we believe disclosure is required by law, including meeting national security or law enforcement requirements.
        Where allowed and feasible, we will attempt to provide you with prior notice before disclosing your information
        in response to such a request. Our Transparency Report has additional information about how we respond to
        requests from governments and law enforcement entities.
      </li>
      <li>
        <strong>In an emergency.</strong> We may disclose information if we believe in good faith that it's necessary to
        prevent serious harm to a person.
      </li>
      <li>
        <strong>To enforce our policies and rights.</strong> We may disclose information if needed to enforce our Terms
        of Service, Community Guidelines, or other policies, or to protect the rights, property, and safety of ourselves
        and others.
      </li>
      <li>
        <strong>Sale, Acquisition, or Transfer of Assets.</strong> We may disclose information if Cord.DJ is evaluating
        and/or engaging in a merger, acquisition, reorganization, bankruptcy, or sale, transfer, or change in ownership
        of Cord.DJ or any of its assets.
      </li>
      <li>
        <strong>Aggregated or de-identified information.</strong> We may disclose information that has been aggregated
        or anonymized such that it cannot reasonably be used to identify you. For example, we may share aggregated user
        statistics in order to describe our business to partners or the public.
      </li>
    </ul>
  </section>

  <section id="6">
    <h5>Data retention</h5>
    <p>
      We retain personal information until we determine it is no longer needed for the processing purposes for which we
      collected or retain it or for legal compliance. You can learn more about data retention periods in our
      <a href="">data retention policy</a>.
    </p>
  </section>

  <section id="7">
    <h5>How we protect your information</h5>
    <p>
      We take a number of steps to help protect your information. All information sent within our services is encrypted
      both in transit and at rest. For example, we use Transport Layer Security (“TLS”) to encrypt text and images in
      transit. We also enforce technical and administrative access controls to limit which of our employees and
      contractors have access to nonpublic personal information. You can help maintain the security of your account by
      configuring two-factor authentication.
    </p>
  </section>

  <section id="8">
    <h5>How to control your privacy</h5>
    <p>
      We believe that users should be able to tailor their Cord.DJ experience to their preferences, including privacy.
      And while local laws may require different things, we believe that our users should have at least the same basic
      ability to shape their experience no matter where they are in the world. Here’s how you can control how we process
      your information, how to delete or correct certain information, and how to request access to your information.
      Users in certain places may have specific rights under their local laws. You can learn more about these in the
      relevant sections below.
    </p>

    <p>
      <strong>Be aware of the Cord.DJ spaces you choose to participate in</strong>
    </p>

    <p>
      You can choose what communities to participate in and what information you add to our services. You can choose
      what messages to send or post, who to engage with (e.g., one or more particular users or a potentially unlimited
      group of users), what information to include in your profile, whether to connect any third party services to your
      Cord.DJ account, and more. For example, if you share content in certain spaces, such as room listed in Room
      Discovery or with public invite links, your content may be accessed by anyone.
    </p>

    <p>TODO</p>
  </section>

  <section id="9">
    <h5>International data transfers</h5>
    <p>
      We are based in the United States, and we process and store information on servers located in the United States.
      We may also store information on servers and equipment in other countries depending on a variety of factors,
      including the locations of our users and service providers. These data transfers allow us to provide our services
      to you. By accessing or using our services or otherwise providing information to us, you understand that your
      information will be processed, transferred, and stored in the U.S. and other countries, where different data
      protection standards may apply and/or you may not have the same rights as you do under local law.
    </p>
    <p>
      When transferring data outside the EEA, we use
      <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:32021D0914&from=EN">
        standard contract clauses
      </a>
      (Module 1 and Module 2), and we rely on the European Commission's adequacy decisions about certain countries, as
      applicable, or other legally compliant mechanisms or conditions for such data transfer.
    </p>
    <p>
      We also adhere to the EU-U.S. and Swiss-U.S. Privacy Shield Program and comply with its framework and principles.
      Although the EU-U.S. Privacy Shield Program is no longer a valid basis for certain international data transfers,
      we continue to comply with the Privacy Shield framework and principles with respect to personal data received from
      the EU in addition to all other applicable laws.
    </p>
    <p>
      If you have questions or complaints regarding our compliance with the Privacy Shield principles, please reach out
      to us at <a href="mailto:privacy@cord.dj">privacy@cord.dj</a>. If we do not resolve your complaint, you may submit
      your complaint free of charge to <a href="https://www.jamsadr.com/eu-us-privacy-shield">JAMS</a>. Under certain
      conditions specified by the Privacy Shield principles, you may also be able to invoke binding arbitration to
      resolve your complaint. We are subject to the investigatory and enforcement powers of the U.S. Federal Trade
      Commission. In certain circumstances, we may be liable for the transfer of personal data from the EU, Switzerland,
      or the UK to a third party outside those countries.
    </p>
    <p>
      For more information about the Privacy Shield principles and to view our certification, please visit the U.S.
      Department of Commerce’s <a href="https://www.privacyshield.gov/welcome">Privacy Shield site</a>.
    </p>
  </section>

  <section id="10">
    <h5>Services offered by third parties</h5>
    <p>
      We allow third party developers to build certain features or other services and offer them within the Cord.DJ
      services. For example, room administrators can add “bots” created by third party developers that provide features
      like content moderation.
    </p>
    <br />
    <p>
      These third-party services need to follow all policies that apply to them (including often our
      <a href="">Developer Terms of Service</a> and <a href="">Developer Policy</a>). As part of these policies, we
      require developers to have a privacy policy that makes clear what they do with your information. Please review
      these privacy policies, as they describe what bots and apps may do with your information. We also require that
      certain popular bots apply for access to certain data. But because these services are operated by third parties,
      we don’t control them or what information they collect. It’s up to you whether to participate in a room that uses
      bots, and whether to engage with third-party services in general.
    </p>
  </section>

  <section id="11">
    <h5>Information for Users in the EEA, United Kingdom, Switzerland, and Brazil</h5>
    <p>
      Certain local laws, such as the European Union’s General Data Protection Regulation (GDPR) and Brazil’s Lei Geral
      de Proteção de Dados (LGPD), require services to provide information about the information they collect, how they
      use it, and the lawful basis for processing it. We’ve described most of that already in the earlier portions of
      this Policy.
    </p>

    <p>
      <strong>Exercising your rights</strong>: As described in the “How to control your privacy” section above, all our
      users have control over their information and can directly edit or delete information from their account and limit
      what data we process. If you are located in certain regions, including the European Union, you may have additional
      rights that you can exercise through the Cord.DJ app directly or by contacting us:
    </p>

    <ul>
      <li>Right of access to your personal data</li>
      <li>Right to rectify your personal data if they are incorrect</li>
      <li>Right to erase your personal data</li>
      <li>Right to limit the processing of your personal data</li>
      <li>Right to the portability of your personal data</li>
      <li>Right to object to the processing of your personal data</li>
      <li>
        Right to withdraw consent. Withdrawing consent does not affect the lawfulness of processing based on consent
        before withdrawal.
      </li>
    </ul>

    <p>
      If you have any questions about these rights or wish to exercise control over your information, please reach out
      to <a href="mailto:privacy@cord.dj">privacy@cord.dj</a>.
    </p>
  </section>

  <section id="12">
    <h5>Information for Users in Certain U.S. States</h5>
    <p>TODO</p>
  </section>

  <section id="13">
    <h5>Changes to this Privacy Policy</h5>
    <p>
      We will update this Privacy Policy from time to time. We always indicate the date the last changes were published,
      and if changes are significant, we’ll provide a more prominent notice as required by law, such as by emailing you
      or highlighting the changes within the services.
    </p>
  </section>

  <section id="14">
    <h5>Contact Us</h5>
    Email us at <a href="mailto:info@cord.dj">info@cord.dj</a> with any questions about this Privacy Policy or how we
    process your information. We’ll be happy to help.
  </section>
</div>
