<div class="top">
  <div class="left">
    <h1>
      <span class="gradient">Get</span>
      Cord for
      <span class="gradient">your Device</span>
    </h1>

    <div class="downloads">
      <a href="https://cord.dj/download/cord-setup.dmg">
        <xui-icon>apple</xui-icon>
        Mac OS
      </a>
      <a href="https://cord.dj/download/cord-setup.exe">
        <xui-icon>microsoft-windows-classic</xui-icon>
        Binbows
      </a>
    </div>
  </div>

  <img class="cord-example" alt="Cord DJ" src="/assets/cord-example-2.png" />
</div>
