@use 'xui';

:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/background-1.webp') no-repeat;
  background-size: cover;
}

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 400px;
  height: 300px;
  border-radius: 4px;
  padding: 32px;

  @include xui.fill(primary);
  @include xui.elevate(medium);
}

h5 {
  padding-top: 24px;
}

button {
  margin-top: 24px;
  width: 100%;
}
