.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  padding: 24px 0 12px 0;
}

p {
  width: 80%;
  margin-bottom: 32px;
  text-align: center;
}

.field {
  width: 90%;
  margin-top: 20px;
}
