<ui-dialog>
  <div class="content" [formGroup]="model">
    <h4>{{ 'password_change.title' | translate }}</h4>
    <p>{{ 'password_change.description' | translate }}</p>

    <div class="field">
      <label>{{ 'password_change.current_password' | translate }}</label>
      <xui-input type="password" formControlName="currentPassword" color="dark"></xui-input>
    </div>
    <div class="field">
      <label>{{ 'password_change.new_password' | translate }}</label>
      <xui-input type="password" formControlName="newPassword" color="dark"></xui-input>
    </div>
    <div class="field">
      <label>{{ 'password_change.confirm_password' | translate }}</label>
      <xui-input type="password" formControlName="confirmPassword" color="dark"></xui-input>
    </div>
  </div>

  <ng-container ui-actions>
    <xui-button color="minimal" (click)="close()">Cancel</xui-button>
    <xui-button type="raised" [onClick]="changePassword">Change</xui-button>
  </ng-container>
</ui-dialog>
