@use 'xui';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include xui.fill(tertiary);

  margin: 1px;
  border: 2px solid var(--color-bg-accent);
  border-radius: 5px;

  img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }

  xui-icon {
    opacity: 50%;
    width: 70%;
    height: auto;
  }
}

.extra {
  display: flex;
  position: absolute;
  background-color: var(--color-bg-tertiary);
  overflow: hidden;

  .content {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
  }

  .handle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-primary);
    cursor: pointer;

    xui-icon {
      width: 12px;
    }
  }

  &.left,
  &.right {
    top: 3px;
    bottom: 3px;

    .handle {
      width: 8px;
      height: 100%;
    }

    .content {
      overflow-x: scroll;
      overflow-y: hidden;
      max-width: 200px;
    }
  }

  &.left {
    left: -2px;
    transform: translate(-100%, 0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &.right {
    right: -2px;
    transform: translate(100%, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .container {
      order: 1;
    }

    .handle {
      order: 2;
    }
  }

  &.top,
  &.bottom {
    flex-direction: column;
    left: 3px;
    right: 3px;

    .handle {
      width: 100%;
      height: 8px;
    }

    .content {
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 200px;
    }
  }

  &.top {
    top: 0;
    transform: translate(0, -100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &.bottom {
    bottom: 0;
    transform: translate(0, 100%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    .container {
      order: 1;
    }

    .handle {
      order: 2;
    }
  }
}

.color {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;

  border-radius: 4px;
  border: 1px solid var(--color-bg-accent);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
