<div class="content">
  <h2>Cord.DJ Community Guidelines</h2>
  <h6>Effective: 5 April, 2023</h6>
  <h6>Last Updated: 5 March, 2023</h6>

  <section>
    <p>
      We created Cord.DJ to be a platform that brings people together over shared experiences and gives everyone a place
      to belong. Our Community Guidelines ensure everyone can express themselves and find community, but not at the
      expense of anyone else.
    </p>
    <p>
      These guidelines explain what isn’t allowed on Cord.DJ. Everyone on Cord.DJ must follow these rules, and they
      apply to all parts of our platform, including your content, behaviors, rooms, and apps. To learn more about the
      requirements for developing a bot or other app, please refer to our
      <a href="">Cord.DJ Developer Terms of Service</a> and our <a href="">Cord.DJ Developer Policy</a>.
    </p>
    <p>
      If you plan to monetize your content, be aware that we have additional rules that are outlined in our
      <a href="">Cord.DJ Room Subscription Policy</a> and <a href="">Monetization Terms</a>.
    </p>
    <p>
      Our Trust & Safety team reviews reports by users, moderators, or trusted reporters. When someone violates these
      guidelines, we may take a number of enforcement steps against them, including issuing warnings, removing content,
      suspending or removing the accounts and/or servers responsible, and potentially reporting them to law enforcement.
      We may consider relevant off-platform behavior when assessing for violations of specific Community Guidelines.
    </p>
    <p>If you come across a user, message, or room that appears to break these guidelines, please report it to us.</p>
  </section>

  <section>
    <h5>Respect Each Other</h5>
    <ul>
      <li>
        <strong>Do not promote, coordinate, or engage in harassment.</strong> Cord.DJ is a platform where everyone can
        find a place to belong, and harassment prevents users from building healthy communities. We do not allow
        harassing behavior such as sustained bullying, ban or block evasion, doxxing, or coordinating room joins for the
        purposes of harassing room members (such as room raiding).
      </li>
      <li>
        We also do not allow the coordination, participation, or encouragement of sexual harassment, such as sending
        unsolicited sexually suggestive content, unwanted sexualization, or attacks on sexual activity.
      </li>
      <li>
        <strong>Do not use hate speech or engage in other hateful conduct.</strong> This includes the use of hate
        symbols and claims that deny the history of mass human atrocities.
      </li>
      <li>
        We consider <strong><u>hate speech</u></strong> to be any form of expression that either attacks other people or
        promotes hatred or violence against them based on their protected characteristics.
      </li>
      <li>
        We consider the following to be protected characteristics: age; caste; color; disability; ethnicity; family
        responsibilities; gender; gender identity; housing status; national origin; race; refugee or immigration status;
        serious illness; sex; sexual orientation; socioeconomic class and status; source of income; status as a victim
        of domestic violence, sexual violence, or stalking; and weight and size.
      </li>
      <li>
        <strong>Do not threaten to harm another individual or group of people.</strong> This includes direct, indirect,
        and suggestive threats.
      </li>
      <li>
        <strong>Do not organize, promote, or support violent extremism.</strong> This also includes glorifying violent
        events or the perpetrators of violent acts, as well as promoting conspiracy theories that could encourage or
        incite violence against others.
      </li>
      <li>
        <strong>
          Do not solicit, share, or make attempts to distribute content that depicts, promotes, or attempts to normalize
          child sexual abuse.
        </strong>
        Also, do not post content that in any way sexualizes children. This includes real as well as manipulated media,
        animation (such as lolicon), and any type of digital creation.
      </li>
      <li>
        We report child sexual abuse material (CSAM) and grooming to the National Center for Missing & Exploited
        Children.
      </li>
      <li>
        <strong>
          If you are under the age of 18, do not engage in sexual conduct or any conduct that puts your online or
          physical safety at risk.
        </strong>
        This includes consensual sexual interactions between teens, as well as any encouragement or coordination of
        potentially risky behaviors, such as vigilantism.
      </li>
      <li>
        We want teens to be able to express themselves freely on Cord.DJ as much as possible, but given the risks
        associated with online dating, we will remove spaces that encourage or facilitate dating between teens.
      </li>
      <li>
        <strong>
          Do not solicit sexual content from or engage in any sexual conduct (“grooming”) with anyone under the age of
          18.
        </strong>
      </li>
      <li>
        <strong>Do not make sexually explicit content available to anyone under the age of 18.</strong> You must be age
        18 or older to participate in adult content on Cord.DJ.
      </li>
      <li>
        You must apply an age-restricted label to any rooms that contain sexually explicit content or any other content
        shared solely for the purposes of sexual gratification.
      </li>
      <li>
        Do not post sexually explicit content in user avatars, custom statuses or bios, room banners, room icons, room
        wallpapers, invite splashes, emoji, stickers, or any other space that cannot be age-restricted.
      </li>
      <li>
        <strong>
          Do not share sexually explicit or sexually suggestive content of other people without the subject’s knowledge
          and consent
        </strong>
        , otherwise known as “revenge porn.” This includes the non-consensual distribution of intimate media that was
        created either with or without an individual’s consent.
      </li>
      <li>
        <strong>
          Do not share content that glorifies, promotes, or normalizes suicide or other acts of physical self-harm.
        </strong>
        This includes content that encourages others to cut, burn, or starve themselves, as well as content that
        normalizes eating disorders, such as anorexia and bulimia. Self-harm acts or threats used as a form of emotional
        manipulation or coercion are also prohibited.
      </li>
      <li>
        <strong>
          Do not share real media depicting gore, excessive violence, or animal harm, especially with the intention to
          harass or shock others.
        </strong>
      </li>
      <li>
        <strong>Do not share content that violates anyone's intellectual property or other rights.</strong> This
        includes sharing or selling game cheats or hacks. For more information, please view
        <a href="">Cord.DJ’s Copyright & Intellectual Property Policy</a>.
      </li>
    </ul>
  </section>

  <section>
    <h5>Be Honest</h5>
    <ul>
      <li>
        <strong>Do not share false or misleading information (otherwise known as misinformation).</strong> Content that
        is false, misleading, and can lead to significant risk of physical or societal harm may not be shared on
        Cord.DJ. We may remove content if we reasonably believe its spread could result in damage to physical
        infrastructure, injury of others, obstruction of participation in civic processes, or the endangerment of public
        health.
      </li>
      <li>
        <strong>Do not misrepresent your identity on Cord.DJ in a deceptive or harmful way.</strong> This includes
        creating fake profiles and attempts to impersonate an individual, group, or organization.
      </li>
      <li>
        <strong>
          Do not engage in activities that could damage or compromise the security of an account, network, or system.
        </strong>
        This includes using deceptive techniques to trick others into revealing sensitive information (phishing), using
        malicious software (malware), and flooding a target with traffic in order to make a resource unavailable
        (denial-of-service attacks).
      </li>
      <li>
        <strong>Do not use or attempt to use Cord.DJ to promote, coordinate, or execute financial scams.</strong> A
        financial scam is any intentionally deceptive act taken with the intent to receive an illegal, unethical, or
        otherwise dishonest gain.
      </li>
      <li>
        This includes but is not limited to: Ponzi schemes, pyramid schemes, advance-fee fraud, market manipulation
        (including “pump-and-dump” schemes), and romance and employment scams.
      </li>
      <li>
        <strong>Do not engage in activities that fraudulently generate a profit at the expense of others.</strong> This
        includes facilitating, providing instructions for, and participating in fraud. We do not allow coordinated
        efforts to defraud businesses, price gouging, forgery, money laundering, or tools that facilitate illegal
        behavior.
      </li>
    </ul>
  </section>

  <section>
    <h5>Respect Cord.DJ</h5>
    <ul>
      <li>
        <strong>Do not send unsolicited bulk messages (or spam) to others.</strong> Also, do not facilitate this
        activity, such as by selling spambots, room “raid” tools, account-creation tools, token generators,
        CAPTCHA-solving services, or other spam tools.
      </li>
      <li>
        <strong>Do not sell or purchase methods for artificially increasing room membership</strong>, such as via
        advertisements or botting.
      </li>
      <li>
        <strong>Do not organize, promote, or engage in any illegal behavior</strong>, such as the buying, selling, or
        trading of dangerous and regulated goods. Dangerous goods have reasonable potential to cause real-world,
        physical harm to individuals. Regulated goods have laws in place that restrict the purchase, sale, trade, or
        ownership of the goods.
      </li>
      <li>
        <strong>Do not abuse Cord.DJ products in any way</strong>, such as selling or purchasing an account or room,
        participating in fraudulent Turbo incentives or Boosting activities, or using monetization features to commit
        fraud.
      </li>
      <li>
        <strong>Do not evade permanent Cord.DJ-level enforcement actions.</strong> This includes creating new or using
        existing accounts or communities after being removed for violating our platform rules.
      </li>
      <li>
        <strong>Do not use self-bots or user-bots.</strong> Each account must be associated with a human, not a bot.
        Self-bots put strain on Cord.DJ’s infrastructure and our ability to run our services.
      </li>
      <li>
        <strong>Do not mislead Cord.DJ’s support teams.</strong> Do not make false or malicious reports to our Trust &
        Safety or other customer support teams, send multiple reports about the same issue, or ask a group of users to
        report the same content or issue. Repeated violations of this guideline may result in loss of access to our
        reporting functions.
      </li>
    </ul>
  </section>

  <section>
    <p>
      If you see any activity that violates these guidelines, our Terms of Service, or our other policies, please report
      it to us by filling out <a href="">this form</a>. However, please note that we strongly discourage and may take
      action against vigilantism, as this behavior can put individuals in harm’s way and can also interfere with our
      investigations and ability to report to law enforcement.
    </p>
    <p>
      These guidelines will continue to evolve over time. This means we may take action against a user, room, or content
      that violates the spirit of these guidelines when we encounter a new threat or harm that is not explicitly covered
      in the current version.
    </p>
    <p>
      We will always make our best effort to notify you when we update these guidelines, but it is up to you to follow
      the spirit of them: keep Cord.DJ safe and a place for everyone to belong. Thanks for doing your part.
    </p>
  </section>
</div>
