<div class="dialog">
  <div class="auth-header">
    <div class="avatars">
      <img src="https://cdn.cord.dj/avatars/9341435274854400.webp?size=200" />
      <xui-icon>dots-horizontal</xui-icon>
      <img src="https://cdn.cord.dj/avatars/9341435274854400.webp?size=200" />
    </div>
    <p>External application</p>
    <div class="external-name">Foo Bar</div>
    <p>wants to access your Cord.Dj account</p>
    <div class="logged-in-user">
      Logged in as &nbsp;
      <div class="username">Bloodman#4295</div>
      &nbsp;
      <div class="logout">Not you?</div>
    </div>
  </div>
  <div class="divider"></div>

  <div class="scopes">
    <div class="header">This will allow the application FooBar to:</div>

    <ul>
      <li><xui-decagram color="success" type="circle">check</xui-decagram> your account</li>
      <li><xui-decagram color="success" type="circle">check</xui-decagram> your account</li>
      <li><xui-decagram color="success" type="circle">check</xui-decagram> your account</li>
      <li><xui-decagram color="success" type="circle">check</xui-decagram> your account</li>
      <li><xui-decagram color="error" type="circle">close</xui-decagram> fuck your sister</li>
    </ul>
  </div>
  <div class="divider"></div>
  <div class="footer">foo bar</div>

  <div class="actions">
    <xui-button color="minimal">Cancel</xui-button>
    <xui-button type="raised" class="authorize">Authorize</xui-button>
  </div>
</div>
