@use 'xui';

:host {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}

.controls {
  display: flex;
  gap: 8px;
  padding: 12px;

  @include xui.fill(secondary-alt);
}

.messages {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.join-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  xui-icon {
    color: var(--color-primary-default);
    cursor: pointer;
    transform: scale(3);
    margin-bottom: 30px;

    &:hover {
      color: var(--color-error-default);
    }
  }
}

.input {
  display: flex;
}

xui-input {
  flex: 100%;
  padding: 12px;
}

.emoji-button:hover {
  color: #ffcc4d;
}

.disabled {
  pointer-events: none;
  color: unset;
}
