@use 'xui';

.gradient {
  background-image: linear-gradient(90deg, var(--color-primary-default), var(--color-secondary-default));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5% 16px;

  h1 {
    width: 600px;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
  }

  p {
    opacity: 0.5;
  }

  .buttons {
    display: flex;
    gap: 32px;

    margin-top: 48px;
  }

  .cord-example {
    width: 80%;
    max-width: 100%;
    margin-top: 32px;
    filter: drop-shadow(var(--elevation-high));
  }

  // Mobile
  @media (max-width: 600px) {
    h1 {
      width: 100%;
      font-size: 2.5rem;
      line-height: 2.8rem;
    }

    .cord-example {
      width: 100%;
    }
  }

  p {
    text-align: center;
    font-size: 1.2rem;
  }

  .highlight {
    color: var(--color-error-default);
  }
}

.section-1 {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid xui.modifier-selected();

  @include xui.fill(secondary);
}

.enter-btn {
  margin-top: 20px;
}
