<div class="content">
  <h2>Partnership Requirements</h2>
  <h6>Effective: 5 April, 2023</h6>
  <h6>Last Updated: 5 March, 2023</h6>

  <section>
    <p>
      <strong>
        The Partner Program rewards well-moderated and engaged rooms with recognition and extra tools to help them
        invest in their community.
      </strong>
      Accepted rooms receive a wealth of additional perks and benefits, which you can check out here.
    </p>
    <p>
      Anyone who applies for the Cord.DJ Partner Program must adhere to the following documentation. Read them
      thoroughly, or give yourself a refresher if you’ve read them before!
    </p>

    <ul>
      <li>
        <strong><a href="/partnership-code-of-conduct">Partnership Code of Conduct</a></strong>
      </li>
      <li>
        <strong><a href="/guidelines">Community Guidelines</a></strong>
      </li>
      <li>
        <strong><a href="/terms">Terms of Service</a></strong>
      </li>
    </ul>
  </section>

  <section>
    <h5>Unlocking The Partner Application Page</h5>
    <p>
      Before being able to submit a Partner application, you’ll need to hit our room engagement prerequisites. Rooms
      looking to apply for the Partner Program must be marked as a “Community” room in Room Settings, which will allow
      you to access Room Insights.
    </p>
    <p>Once you’ve got access to this page, below are the room requirements you will also have to reach:</p>
    <ul>
      <li>
        <strong>Your room must be at least 8 weeks old.</strong> Give your community time to grow and flourish before
        applying.
      </li>
      <li>
        <strong>Have at least 50 members on your room.</strong> This is required for Room Insights to track your
        progress towards applying to the partner Program.
      </li>
      <li>
        <strong>Have at least 20 communicators (people who actively talk) per week.</strong> This means that in your
        room, at least 50 unique people should be regularly engaging in your community, such as posting a message. They
        can be a different set of 20 people per week.
      </li>
      <li>
        <strong>Have at least 20 participators (people who at least visit/view your room) per week.</strong> This
        includes actions such as viewing, reading, posting messages and reacting to posts, listening to music. If people
        are at least checking your room out regularly, whether or not they actually post a message, they will be counted
        here.
      </li>
      <li>
        <strong>Having at least a 20% Week 1 Retention over a 8 week period.</strong>
        This does not include users who join and immediately leave, and you’ll never be negatively impacted by being
        featured on Room Discovery
      </li>
      <li>
        <strong>Have 2FA Requirement for Room Moderation enabled.</strong> This can only be enabled by the room owner.
        You'll find this in Room Settings > Moderation.
      </li>
    </ul>
  </section>

  <section>
    <h5>Submitting an Application</h5>
    <p>
      In addition to the requirements mentioned above, the Partner Program application will ask for the following
      information:
    </p>

    <ul>
      <li>
        <strong>What is your Room about? Let us know the Topic that covers it.</strong> These are the same categories as
        you’ll see when joining Room Discovery.
      </li>
      <li>
        <strong>Which Room Type is your community?</strong> You can specify that you’re a creator or public figure, a
        fan community, or a DJ. If you don’t fit into any of these categories, that’s totally fine! Just hit “Other” and
        we’ll figure it out from there.
      </li>
      <li>
        <strong>Some basic information about you, the Room Owner.</strong> This includes your legal name, your country
        of residence and primary language. If you would like to link a website, now’s the time to do that too.
      </li>
      <li>
        <strong>A few open-ended questions about why your community should be Partnered.</strong> You've hit the numbers
        – now you've gotta show us why you think your community is awesome.
      </li>
      <li>
        <strong>Be sure to connect some social media accounts.</strong> If you have a Twitter, YouTube, Reddit, Twitch,
        SoundCloud, or Spotify, you can link them here. Connect anything that’s related to your community. For example,
        content creators may want to link a SoundCloud.
      </li>
    </ul>

    <p>
      You’ve already done the hard work by reaching our room engagement requirements – just tell us who you are and
      we’ll review your application as soon as possible.
    </p>
    <p>
      If you have any questions about your application, or about the Partner Program in general, feel free to reach out
      to us at <a href="mailto:info@cord.dj">info@cord.dj</a>
    </p>

    <p>Do you fulfill all of the requirements?</p>
    <xui-button color="success" type="raised" shine (click)="openForm()">Apply Now!</xui-button>
  </section>
</div>
