@use 'xui';

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url('/assets/background-1.webp') no-repeat;
  background-size: cover;
}

.dialog {
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  border-radius: 5px;
  @include xui.fill(primary);
  @include xui.elevate(medium);

  h5 {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .form {
    width: 80%;
    display: flex;
    flex-direction: column;

    padding-top: 30px;
    padding-bottom: 80px;
  }

  .register {
    padding-bottom: 20px;
  }
}

.password {
  margin-top: 20px;
}

.password-recovery {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 0.9rem;
}
