@use 'xui';

:host {
  flex: 0 1 100%;
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 0 10px;

  // electron app can be dragged by this
  -webkit-app-region: drag;
}

.content {
  flex: 1 1 auto;

  overflow: hidden;
  font-size: 1.2em;
  margin-left: 10px;

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dj {
    color: xui.text-muted();
    font-size: 0.7em;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    strong {
      color: var(--header-primary);
    }
  }
}

.settings {
  display: grid;
  grid-template-columns: 135px 25px 40px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;

  height: 100%;
  align-items: center;
  justify-items: center;

  padding-top: 8px;
  padding-bottom: 8px;
}

.shaded {
  color: xui.text-muted();
}

.volume-section {
  display: contents;

  xui-slider {
    width: 100%;
    position: absolute;
    transform: translateX(120%);
    transition: transform ease-out 0.3s;
    transition-delay: 0.2s;
  }

  &:hover {
    xui-slider {
      transform: translateX(0);
    }
  }

  xuit-slider:active {
    transform: translateX(0);
  }
}

.volume-slider {
  display: grid;
  place-items: center;
  width: 100%;
  height: 28px;
  position: relative;

  overflow: hidden;
}

.volume-text {
  justify-self: flex-end;
}
