<div class="content">
  <h2>Partnership Code of Conduct</h2>
  <h6>Effective: 5 April, 2023</h6>
  <h6>Last Updated: 5 March, 2023</h6>

  <section>
    <p>
      Partnered rooms are at the forefront of the community. We want our Partnered rooms to be welcoming to all users,
      whether they are complete newcomers to Cord.DJ or expert users and longtime members. We look to our partners to
      provide a positive place for people to come together around their communities.
    </p>
    <p>
      As a Partner, always remember to conduct yourself in a responsible manner and treat others with respect, patience,
      and kindness. Whether you’re on-stream, chatting, or showing off the profile badge you’ve earned, your actions are
      a reflection on Cord.DJ itself.
    </p>
    <p>
      We require owners, admins, and moderators in Partnered rooms to uphold the rules laid out below in this Partner
      Code of Conduct, as well as those detailed in our <a href="/terms">Terms of Service</a>, and
      <a href="/guidelines">Community Guidelines</a>.
    </p>
    <p>
      Failure to uphold these standards will lead to a warning, both through email and in the application itself, and a
      chance to correct the violation. If action is not taken on the reported content within 48 hours, we will take
      additional action, including the removal of partnership status. Any further violations of the Partner Code of
      Conduct may also result in the partnership being removed.
    </p>
    <p>The following Code of Conduct outlines our requirements for Partnered rooms.</p>
  </section>

  <section>
    <h5>BEHAVIOR & ENGAGEMENT WITH USERS</h5>
    <p>
      As a Partner, always keep in mind how your statements may be perceived by others. Even if you intend something as
      a joke, there may be others who do not see it as such.
    </p>
    <p>
      This does not mean we will revoke partnership if a user says something offensive in your room. We understand the
      challenges of moderating big rooms — especially ones that have users that are from all over the world. However, we
      do expect you to build a moderation team that will take action on issues within a reasonable timeframe. Having no
      moderation or claiming the room is too big to moderate is unacceptable.
    </p>
    <p>
      Partnered rooms should be an example of the best communities that Cord.DJ has to offer, and so we have a higher
      standard for the conversation and moderation of those rooms. The following is prohibited in a partnered room:
    </p>
    <ul>
      <li>
        Too many discriminatory jokes and hate speech (attacks on an individual or group based on their race, ethnicity,
        national origin, sex, gender, sexual orientation, or disabilities)
      </li>
      <li>
        Moderators or admins making verbal abuse, insults, threats towards others, or displaying offensive, derogatory,
        or explicit content.
      </li>
      <li>Advocating for or encouraging any of the above behavior.</li>
      <li>Selling a Partnered room or account is prohibited.</li>
    </ul>
    <p>
      As a Cord.DJ Partner and a representative of Cord.DJ, you should be on good behavior on the Cord.DJ platform,
      across other social media platforms, and in real life. If we are made aware of situations where you are
      representing Cord.DJ poorly by, for example, violating other platforms Terms of Service or acting in a manner that
      is unbecoming of a Cord.DJ Partner, we may rescind the Partner status. We reserve the right to de-partner any
      community based on their behavior, both on and off of Cord.DJ, without warning.
    </p>
  </section>

  <section>
    <h5>ADULT CONTENT GUIDELINES</h5>
    <p>
      Explicit pornographic content does not have a place in Partnered rooms. This includes videos, gifs, or still
      images depicting explicit sexual actions, whether real or illustrated, as well as detailed verbal descriptions of
      explicit sexual acts. The Cord.DJ Partners Program is designed to highlight awesome communities and content
      creators and generally be welcoming to those of all ages.
    </p>
    <p>
      However, conversations around adult topics are allowed — we understand that there are Partnered rooms that deal
      with sensitive and difficult topics, and we welcome those conversations and communities. Those rooms should be
      clearly marked and opt-in.
    </p>
  </section>

  <section>
    <h5>REPRESENTATIONS AND MISREPRESENTATIONS</h5>
    <p>
      Rooms are Partnered based on the content and community that they have at the point of application and for what
      that community is likely to grow into. That means that we expect your room will continue to be about the subject
      that you applied for.
    </p>
    <ul>
      <li>
        If you (the partner) are a content creator, your room should be centered around your content. Switching to a
        community-based room will void your partnership.
      </li>
      <li>
        If you are a community room, your room’s focus should be the content that you applied for partnership under.
        Switching or repurposing the room from its original purpose will void your partnership.
      </li>
    </ul>
    <p>
      In short, we don’t appreciate a bait-and-switch. It’s totally understandable if you are a content creator and you
      change from one music genre to another.
      <!--      , but it’s less reasonable if you’re a community around RPGs and one day you delete-->
      <!--      all channels and change to be about your personal interest in football, or vice versa.-->
    </p>
    <p>
      Finally, you (the partner) must maintain ownership of your partnered Cord.DJ room to stay in the program. If you
      delete or transfer ownership for any reason, without communication to Cord.DJ, your partnership and all Cord.DJ
      perks will be revoked.
    </p>
  </section>

  <section>
    <h5>MAINTAINING QUALITY CONTENT AND ACTIVITY</h5>
    <p>
      Content creators are expected to be creating original content. Complete copying or plagiarizing another party’s
      content will result in immediate removal from the partner program.
    </p>
    <p>
      We want our Partnered rooms to be a good reflection of active Cord.DJ communities and users. With our new Partner
      requirements, all Partnered rooms will receive an email and in-app warning when their room falls below the
      required threshold to maintain a partnership. The Partner will receive their first email five weeks after their
      room falls below the requirements. The final removal email will be sent after nine weeks of not passing the
      requirements. This means you have two months total to meet the criteria for partnership if you fall below it for
      whatever reason.
    </p>
    <p>
      Finally, we understand that sometimes you have life events and/or you might not check in every day! If there’s
      something that’ll prevent you from being around for an extended period of time please let us know and we’ll see if
      we can work it out.
    </p>
    <p>
      <strong>
        <i>Please note:</i> We have the right to update this Code of Conduct at any time, and as Cord.DJ evolves so may
        our expectations for our Partners. If this Code of Conduct does change, we'll be sure to communicate those
        changes to you (the partner) accordingly.
      </strong>
    </p>
    <p>
      As a Cord.DJ Partner, always remember to conduct yourself in a responsible manner and treat others the way you’d
      like to be treated. We want to ensure that you are a shining example of the best parts of the platform and a prime
      example that other users should strive to be. <strong>Be the awesome you want to see in the world.</strong>
    </p>
  </section>
</div>
