<div class="content">
  <h2>Terms of Service</h2>
  <h6>Effective: 5 April, 2023</h6>
  <h6>Last Updated: 5 March, 2023</h6>
  <p></p>

  <a href="/terms#1">1. Who we are</a>
  <a href="/terms#2">2. Age requirements and responsibility of parents and legal guardians</a>
  <a href="/terms#3">3. What you can expect from us</a>
  <a href="/terms#4">4. Your Cord.DJ account</a>
  <a href="/terms#5">5. Content in Cord.DJ’s services</a>
  <a href="/terms#6">6. Software in Cord.DJ’s services</a>
  <a href="/terms#7">7. Copyright</a>
  <a href="/terms#8">8. Cord.DJ’s paid services</a>
  <a href="/terms#9">9. Restrictions on your use of Cord.DJ’s services</a>
  <a href="/terms#10">10. Termination</a>
  <a href="/terms#11">11. Appeals</a>
  <a href="/terms#12">12. Indemnity</a>
  <a href="/terms#13">13. Services “AS IS”</a>
  <a href="/terms#14">14. Limitation of liability</a>
  <a href="/terms#15">15. TODO</a>
  <a href="/terms#16">16. TODO</a>
  <a href="/terms#17">17. Contact Us</a>

  <p></p>
  <p>
    Welcome! Cord.DJ is a platform that brings people together over shared experiences and gives everyone a place to
    belong. We’re happy you’re here.
  </p>
  <p>These terms set forth our legal obligations to each other. They apply to your use of our services.</p>
  <p>
    <strong>
      IMPORTANT NOTE: The section titled “Settling Disputes Between You and Cord.DJ" contains an arbitration clause and
      class-action waiver that applies to all U.S.-based Cord.DJ users. Please read this section carefully as it may
      significantly affect your legal rights, including your right to file a lawsuit in court.
    </strong>
  </p>
  <p>
    When we say “Cord.DJ,” “we,” “us,” and “our” in these terms, we mean Cord DJ, Inc., its subsidiaries, and its
    related companies.
  </p>
  <p>When we say “services” in these terms, we mean Cord.DJ’s services, apps, websites, and other products.</p>
  <p>
    When we say “you” or “your,” we mean you. If you’re accessing our services on behalf of a legal entity (like your
    employer), you agree that you have the authority to bind that entity to these terms, and “you” and “your” will refer
    to that entity.
  </p>
  <p>
    We also have a <a href="/privacy">Privacy Policy</a>, <a href="/guidelines">Community Guidelines</a>, and these
    <a href="">other policies</a> that apply to your use of our services and are incorporated into these terms. You
    should read these policies—we’ve worked hard to make them simple and clear, and they contain important information
    about your use of our services. If you use our API, Cord.DJ’s <a href="">Developer Terms of Service</a> and
    <a href="">Developer Policy</a> apply to that use. Cord.DJ’s <a href="">Paid Services Terms</a> apply to any
    purchase you make through Cord.DJ.
  </p>
  <p>
    Together, these rules make Cord.DJ possible, and they matter to us. If you believe others aren’t following them,
    please let us know by <a href="https://forms.office.com/r/XSaqB2MaHw">reporting it to us</a>.
  </p>

  <section id="1">
    <h5>Who we are</h5>
    <p>
      We provide services that allow you to interact with other Cord.DJ users (such as through direct messages and group
      direct messages) and participate in large and small spaces (or “rooms”). Our services may also include access to
      certain software, features, and content that you can purchase from us or others, and additional terms apply to
      those purchases.
    </p>
    <p>Cord.DJ’s services are provided by Cord DJ, Inc. We’re located at TODO.</p>
  </section>

  <section id="2">
    <h5>Age requirements and responsibility of parents and legal guardians</h5>
    <p>
      By accessing our services, you confirm that you’re at least 13 years old and meet the minimum age required by the
      laws in your country. We maintain a <a href="">list of minimum ages</a> around the world as a resource for you,
      but we aren’t able to guarantee that it is always accurate. If you are old enough to access our services in your
      country, but not old enough to have authority to consent to our terms, your parent or legal guardian must agree to
      our terms on your behalf. Please ask your parent or legal guardian to read these terms with you. If you’re a
      parent or legal guardian, and you allow your child (who meets the minimum age for your country) to use the
      services, then these terms also apply to you and you’re responsible for your child’s activity on the services,
      including purchases made by them. For more information on purchases, see "Cord.DJ’s Paid Services" below.
    </p>
  </section>

  <section id="3">
    <h5>What you can expect from us</h5>
    <p>
      Cord.DJ is a platform that brings people together over shared experiences and gives everyone a place to belong. To
      do that, we provide different digital spaces where you can connect with other Cord.DJ users and communities.
      Cord.DJ users communicate primarily via “rooms,” which are digital spaces. Chat allow users to interact via
      text-based messages, as well as images, GIFs, emoji, and other uploadable media. We’re always evolving our
      services, and we may create other types of features in the future!
    </p>
    <p>
      Users create rooms, and users choose which rooms to join and who their “friends” are. Room owners and room admins
      control the room permissions and rules, including establishing membership requirements and creating custom roles
      and what those roles can do within the room. Room owners and admins also control whether to make their room
      available in Room Discovery, whether to publish their room invite link on public websites, whether to enable
      community growth and safety features, and whether to add bots or other apps. These permissions, like the size of a
      room, may change over time.
    </p>
    <p>
      Cord.DJ is designed to make communicating with the people you want to speak to as easy as possible. Posts appear
      in chat in the order in which they’re made. Cord.DJ was also designed to make it easy to share what you’re up to.
      You can stream what music you want, or you can share your status, and more.
    </p>
    <p>
      Cord.DJ’s services may be personalized to each user based on their activity, so that you can see content and
      communities that may be of interest to you. You can control whether and to what extent Cord.DJ personalizes your
      experience in your Settings.
    </p>
    <p>
      We’re actively developing new features and products to improve Cord.DJ. As part of these efforts, we may add or
      remove features, start offering new services, or stop offering some services entirely (or just in some places or
      for some users) if they no longer make sense from a business perspective or create risk for Cord.DJ, our users, or
      other third parties. While we try to avoid disruptions, we cannot guarantee that there will not be an outage or
      change to the services, and your content may not be retrievable due to such outages or changes. We are not liable
      for any such outages or service changes.
    </p>
  </section>

  <section id="4">
    <h5>Your Cord.DJ account</h5>
    <p>
      To access the services on an ongoing basis, you will need to create a Cord.DJ account. You can provide a username
      and password, and a way of contacting you (such as an email address and phone number). You’ll also need to provide
      your birthday. In some cases, you may be required to verify your account or provide additional information.
    </p>
    <p>
      You are responsible for the security of your account, and you agree to notify us immediately if you believe your
      account has been compromised. If you use a password, it must be strong, and we (strongly) recommend that you use
      that password only for your Cord.DJ account and that you enable two-factor authentication.
    </p>
    <p>
      You must always provide accurate information to Cord.DJ and maintain the accuracy of the information associated
      with your account. We may assume that any communications we’ve received from your account or the associated
      contact information have been made by you, and that any purchases made using your account were made by you.
    </p>
    <p>
      If you get locked out of your account, we’ll need to contact you at the email or phone number associated with your
      account. If your account is compromised or you no longer have access to your email account or phone number, we may
      not be able to restore your access to your account or the rooms you’ve created.
    </p>
    <p>You agree not to license, sell, or transfer your account without our prior written approval.</p>
  </section>

  <section id="5">
    <h5>Content in Cord.DJ’s services</h5>
    <h6>Your Content</h6>

    <p>
      When we say “your content” in these terms, we mean all the things you add (upload, post, share, stream, etc.) to
      our services. This includes text, links, GIFs, emoji, photos, videos, documents, or other media. If we come up
      with another way for you to add content to the services, it includes that too.
    </p>
    <p>
      You don’t have any obligation to add content to the services. If you choose to add content to the services, you
      are responsible for ensuring that you have the right to do so, that you have the right to grant the licenses in
      this section of these terms, and that your content is lawful. We take no responsibility for any of your content,
      and we are not responsible for others’ use of your content.
    </p>
    <p>
      Our services allow users to add content in a number of different ways, including via messages in small and large
      rooms. Some of these rooms may be larger spaces, and if you share content within them, that content may be more
      likely to be accessed by a lot of people. For example, some rooms are available in the Room Discovery section of
      the app and do not require an invite link to join. Other room owners may publish their room invite link on public
      websites. Anyone can access these spaces. You should be aware that these permissions are set by room owners or
      admins, and they may change over time. Please understand where you are posting on Cord.DJ, familiarize yourself
      with the relevant room permissions when joining and posting in a certain space, and choose the right space,
      features, and settings for you and your content.
    </p>
    <p>
      <strong><u>Your content is yours, but you give us a license to it when you use Cord.DJ.</u></strong> Your content
      may be protected by certain intellectual property rights. We don’t own those. But by using our services, you grant
      us a license—which is a form of permission—to do the following with your content, in accordance with applicable
      legal requirements, in connection with operating, developing, and improving our services:
    </p>
    <ul>
      <li>
        Use, copy, store, distribute, and communicate your content in manners consistent with your use of the services.
        (For example, so we can store and display your content.)
      </li>
      <li>
        Publish, publicly perform, or publicly display your content if you’ve chosen to make it visible to others. (For
        example, so we can display your messages if you post them in certain rooms or recommend that content to others.)
      </li>
      <li>
        Monitor, modify, translate, and reformat your content. (For example, so we can resize an image you post to fit
        on a mobile device.)
      </li>
      <li>
        Sublicense your content, to allow our services to work as intended. (For example, so we can store your content
        with our cloud service providers.)
      </li>
    </ul>
    <p>
      This license is worldwide, non-exclusive (which means you can still license your content to others), royalty-free
      (which means there are no fees for this license), transferable, and perpetual.
    </p>
    <p>
      We reserve the right to block, remove, and/or permanently delete your content if it is in breach of these terms,
      our <a href="/guidelines">Community Guidelines</a>, our <a href="">other policies</a>, or any applicable law or
      regulation, or if it creates risk for Cord.DJ or negatively impacts the experience or interests of other Cord.DJ
      users to continue to make it available.
    </p>
    <p>
      We <a href="https://forms.office.com/r/fniPr0Rt7k">welcome feedback</a> on our services. By sending us feedback,
      you grant us a non-exclusive, perpetual, irrevocable, transferable license to use the feedback and ideas generated
      from the feedback without any restrictions, attribution, or compensation to you.
    </p>

    <h6>Cord.DJ’s content</h6>
    <p>
      Our services include some content that belongs to us, such as the design of our apps and websites, our art and
      images, and content written by us. You may use this content as permitted by these terms, but we retain all
      intellectual property rights in our content.
    </p>

    <h6>Other content</h6>
    <p>
      <strong><u>Other people’s content.</u></strong> Our services might also provide you with access to other people’s
      content. You may not use this content without that person’s consent, or as allowed by law. Other people’s content
      is theirs and doesn’t necessarily reflect Cord.DJ’s own views. Cord.DJ doesn’t endorse or verify the accuracy or
      reliability of content shared by Cord.DJ users. We work hard to try to make Cord.DJ a safe, positive, and
      inclusive place, but cannot prevent you from encountering content that you may find objectionable or offensive.
      You agree we will not be liable for any harm caused by that content. You may report content that you think
      violates any of our policies. We have the right, but not the obligation, to review such reports and block or
      remove content at our discretion.
    </p>
    <p>
      <strong><u>Third party features and content.</u></strong> Our services may also allow you to access third-party
      websites, features, apps, or other content. We provide you access only as a convenience to you, and are not
      responsible for the content or services available from these websites or resources.
    </p>
  </section>

  <section id="6">
    <h5>Software in Cord.DJ’s services</h5>
    <p>
      <strong><u>License to our software.</u></strong> Some of our services allow you to download client software. So
      long as you comply with these terms, we grant you a worldwide, non-exclusive, personal, and non-assignable license
      to download, install, and run that software, solely to access our services.
    </p>
    <p>
      You may not copy, modify, create derivative works based upon, distribute, sell, lease, or sublicense any of our
      software or services. You also may not reverse engineer or decompile our software or services, attempt to do so,
      or assist anyone in doing so, unless you have our written consent or applicable law permits it.
    </p>
    <p>
      Although we are granting you this license, we retain any intellectual property rights we have in our software and
      services.
    </p>
    <p>
      <strong><u>Open source.</u></strong> Some of Cord.DJ’s services include software subject to separate open source
      license terms, and your use of those services are subject to your compliance with those license terms, when
      applicable. We encourage you to review them, as some licenses may explicitly override these terms.
    </p>
    <p>
      <strong><u>Third-Party Services.</u></strong> Cord.DJ may allow you to access apps, bots, or other products,
      features, or services developed by third parties (“third-party services”). It’s your choice whether to use these
      third-party services and whether to participate in Cord.DJ rooms that incorporate them. You should review any
      terms and policies provided by the third parties before doing so as they govern your use of their services. While
      these third parties do need to follow all policies that apply to them (which may include these Terms, our
      <a href="/guidelines">Community Guidelines</a>, <a href="">Developer Terms of Service</a>, and
      <a href="">Developer Policy</a>), Cord.DJ is not responsible for any third-party services.
    </p>
  </section>

  <section id="7">
    <h5>Copyright</h5>
    <p>
      We respect the intellectual property of others and expect our users to do the same. See our
      <a href="">Copyright & IP Policy</a>
      for information on how to file a copyright complaint.
    </p>
  </section>

  <section id="8">
    <h5>Cord.DJ’s paid services</h5>
    <p>
      We won’t charge you a fee to use the basic functionality of our services, but you may be able to pay for
      additional features and products. Cord.DJ’s <a href="">Paid Services Terms</a> also apply to any purchase you make
      using Cord.DJ’s supported purchase flows, and you may also be asked to agree to separate terms before purchasing
      new offerings through Cord.DJ.
    </p>
  </section>

  <section id="9">
    <h5>Restrictions on your use of Cord.DJ’s services</h5>
    <p>
      When using our services, you must comply with these terms and all applicable laws, rules, and regulations, and you
      must only use the services for authorized and acceptable purposes. You must also adhere to our
      <a href="/guidelines">Community Guidelines</a> and <a href="">other policies</a>, which contain more detailed
      rules about your content and behavior when using Cord.DJ. Fundamentally, do not do, try to do, or encourage or
      help others to do any of the following:
    </p>

    <ul>
      <li>
        <strong>Don’t use the services to do harm to yourself or others.</strong> Among other things, this includes
        trying to gain access to another user’s account or any non-public portions of the services, infringing anyone
        else’s intellectual property rights or any other proprietary rights, exploiting, harassing, bullying, spamming,
        auto-messaging, or auto-dialing people through our services.
      </li>
      <li>
        <strong>Don’t use the services to do harm to Cord.DJ.</strong> Among other things, this includes trying to gain
        access to or attacking our systems, scraping us, transmitting viruses or other malicious code to our services,
        abusing or defrauding us or our payment systems, copying our product or using our intellectual property without
        permission, and misusing our reporting or customer service mechanisms.
      </li>
      <li>
        <strong>Don’t use the services to do anything else that’s illegal.</strong> This includes using the services to
        plan or commit any crime or do anything else that is illegal.
      </li>
    </ul>

    <p>We encourage you to report content or conduct that you believe violates these restrictions.</p>
  </section>

  <section id="10">
    <h5>Termination</h5>
    <p>
      <strong><u>Your right to terminate.</u></strong> You’re free to stop using Cord.DJ’s services at any time and for
      any reason. To terminate this agreement, you may delete your Cord.DJ account through the Settings page in the
      Cord.DJ app (the gear icon next to your username) and discontinue use of the services. Certain provisions of these
      terms will survive termination as outlined below in the “Survival” section.
    </p>
    <p>
      Disabling your account limits the processing of your personal information as described in our
      <a href="/privacy">Privacy Policy</a>. Disabling your account does not terminate this agreement.
    </p>
    <p>
      <strong><u>Our right to terminate.</u></strong> Subject to applicable law, we reserve the right to suspend or
      terminate your account and/or your access to some or all of our services with or without notice, at our discretion
      for the following reasons:
    </p>

    <ul>
      <li>You breach these terms, our policies, or additional terms that apply to specific products.</li>
      <li>We’re required to do so to comply with a legal requirement or court order.</li>
      <li>We reasonably believe termination is necessary to prevent harm to you, us, other users, or third parties.</li>
      <li>Your account has been inactive for more than two years.</li>
      <li>
        Continuing to allow your account to be active, giving you access to some or all services, or hosting your
        content creates risk for Cord.DJ, other users, or third parties.
      </li>
    </ul>

    <p>However, we will give you advance notice if reasonable to do so or required by applicable law.</p>
  </section>

  <section id="11">
    <h5>Appeals</h5>
    <p>
      You can appeal any enforcement action we take under these terms, including terminations, suspensions, or content
      removals, <a href="https://forms.office.com/r/tYBBzJNnCD">HERE</a>
    </p>
  </section>

  <section id="12">
    <h5>Indemnity</h5>
    <p>
      If you are using the services on behalf of a business or legal entity and not in an individual capacity, then you
      will indemnify and hold Cord.DJ and its officers, directors, employees and agents harmless from and against any
      claims, liabilities, damages, and costs (including reasonable legal and accounting fees) related to (a) your
      access to or use of our services, (b) your content, or (c) your violation of these terms.
    </p>
  </section>

  <section id="13">
    <h5>Services “AS IS”</h5>
    <p>
      We work hard to offer great services, but there are certain aspects that we can’t guarantee. TO THE FULLEST EXTENT
      PERMITTED BY LAW, CORD.DJ, ITS AFFILIATES, AND THEIR RESPECTIVE SUPPLIERS MAKE NO WARRANTIES, EITHER EXPRESS OR
      IMPLIED, ABOUT THE SERVICES. THE SERVICES ARE PROVIDED “AS IS.” WE ALSO DISCLAIM ANY IMPLIED WARRANTIES OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT, AND NON-INFRINGEMENT, AND ANY WARRANTIES
      ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. THE LAWS OF CERTAIN JURISDICTIONS OR STATES DO NOT ALLOW
      LIMITATIONS ON IMPLIED WARRANTIES. TO THE EXTENT SUCH WARRANTIES CANNOT BE DISCLAIMED UNDER THE LAWS OF YOUR
      JURISDICTION, WE LIMIT THE DURATION AND REMEDIES OF SUCH WARRANTIES TO THE FULL EXTENT PERMISSIBLE UNDER THOSE
      LAWS.
    </p>
  </section>

  <section id="14">
    <h5>Limitation of liability</h5>
    <p>
      WE DON’T EXCLUDE OR LIMIT OUR LIABILITY TO YOU WHERE IT WOULD BE ILLEGAL TO DO SO. IN COUNTRIES WHERE THE BELOW
      TYPES OF EXCLUSIONS AREN’T ALLOWED, WE’RE RESPONSIBLE TO YOU ONLY FOR LOSSES AND DAMAGES THAT ARE A REASONABLY
      FORESEEABLE RESULT OF OUR FAILURE TO USE REASONABLE CARE AND SKILL OR OUR MATERIAL BREACH OF OUR CONTRACT WITH
      YOU. THIS PARAGRAPH DOESN’T AFFECT CONSUMER RIGHTS THAT CAN’T BE WAIVED OR LIMITED BY ANY CONTRACT OR AGREEMENT.
    </p>

    <p>
      THE INFORMATION PRESENTED ON OR THROUGH THE SERVICES IS MADE AVAILABLE SOLELY FOR INFORMATIONAL PURPOSES. WE DO
      NOT CONFIRM THE ACCURACY, COMPLETENESS, OR USEFULNESS OF THE INFORMATION. ANY RELIANCE YOU PLACE ON SUCH
      INFORMATION IS SOLELY AT YOUR OWN RISK.
    </p>

    <p>
      IN COUNTRIES WHERE EXCLUSIONS OR LIMITATIONS OF LIABILITY ARE ALLOWED, NEITHER CORD.DJ, ITS AFFILIATES, NOR OUR
      SUPPLIERS INVOLVED IN CREATING, PRODUCING, OR DELIVERING THE SERVICES WILL BE LIABLE, TO THE MAXIMUM EXTENT
      PERMITTED UNDER APPLICABLE LAW, FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES, OR DAMAGES FOR
      LOST PROFITS, LOST REVENUES, LOST SAVINGS, LOST BUSINESS OPPORTUNITY, LOSS OF DATA OR GOODWILL, SERVICE
      INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE, OR THE COST OF SUBSTITUTE SERVICES OF ANY KIND ARISING OUT OF OR
      IN CONNECTION WITH THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES, WHETHER BASED ON WARRANTY,
      CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT
      CORD.DJ OR ITS SUPPLIERS HAVE BEEN INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY PROVIDED
      IN THESE TERMS IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
    </p>

    <p>
      BESIDES THE TYPES OF LIABILITY WE CANNOT LIMIT BY LAW (AS DESCRIBED IN THIS SECTION), CORD.DJ LIMITS OUR LIABILITY
      TO YOU TO THE GREATER OF (A) THE AMOUNTS YOU HAVE PAID US IN THE THREE MONTHS BEFORE YOU FIRST ASSERT A CLAIM OR
      (B) $100 USD (OR THE EQUIVALENT IN YOUR LOCAL CURRENCY).
    </p>

    <p>CORD.DJ ISN’T LIABLE FOR THE CONDUCT OR CONTENT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF OUR SERVICES.</p>

    <p>
      THE EXCLUSIONS AND LIMITATIONS OF DAMAGES SET FORTH ABOVE ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN
      BETWEEN CORD.DJ AND YOU. THE LIMITATION OF LIABILITY DESCRIBED ABOVE SHALL APPLY FULLY TO RESIDENTS OF NEW JERSEY.
    </p>
  </section>

  <section id="17">
    <h5>Contact Us</h5>
    <p>
      If you have any questions about these terms, please contact us at
      <a href="mailto:privacy@cord.dj">privacy@cord.dj</a>. We may send you electronic communications related to our
      services. Where required, we’ll get your consent before sending you direct marketing, and we’ll make it easy for
      you to opt out.
    </p>
  </section>
</div>
